.form__button {
  width: 358px;
  height: 50.15px;
  margin: 0 auto 36.51px;
  padding: 0;
  display: block;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.form__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  .form__button {
    width: calc(100% - 72px);
  }
}

@media screen and (max-width: 375px) {
  .form__button {
    width: 200px;
    height: 40px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
  }
}