.profile__info {
  max-width: 428px;
  margin: 0 154px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .profile__info {
    margin: 0;
    max-width: calc(428px - 200px);
  }
}


@media screen and (max-width: 750px) {
  .profile__info {
    max-width: 280px;
    margin-bottom: 36px;
  }
}