.profile__paragraph {
  width: 318px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
  display: block;
  max-width: 318px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


@media screen and (max-width: 750px) {
  .profile__paragraph {
    font-size: 14px;
    line-height: 17px;
    min-width: 280px;
    max-width: 280px;
    text-align: center;
  }
}