@import url(./__list/elements__list.css);

.elements {
  max-width: 882px;
  margin: 0 auto 66px;
}

@media screen and (max-width:900px) {
  .elements {
    max-width: 582px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 750px) {
  .elements {
    max-width: 282px;
    margin-bottom: 48px;
  }
}