.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 750px) {
  .footer__text {
    font-size: 14px;
    line-height: 17px;
  }
}