.profile__edit-button {
  background-image: url(../../../images/edit_icon.svg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  border: 1px solid #fff;
  padding: 0;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 750px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    margin-right: 10px;
  }
}