@import url(./__text/footer__text.css);

.footer {
  margin: 0 auto 60px;
  width: 882px;
}

@media screen and (max-width: 900px) {
  .footer {
    max-width: 582px;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    width: 282px;
    margin: 0 auto 36px;
  }
}