.card__delete-button {
  display: inline-block;
  box-sizing: border-box;
  background-image:url(../../../images/delete_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 18px;
  height: 19.3px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.card__delete-button:hover {
  opacity: 0.6;
}