.elements__list {
  margin: 0;
  padding: 0;
  list-style-image: none;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(282px, 1fr) );
  grid-template-rows: auto;
  gap: 18px;
}

@media screen and (max-width: 750px) {
  .elements__list {
    gap: 20px;
  }
}